body {
    background-color: #0C2461;
}


#projects_title{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    margin-top: 100px;

    color: #FFFFFF;
}

.project_style{
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    display: block;

    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: none;

    background: #304D96;
    margin-left: 700px;
    margin-right: 700px;

    color: #FFFFFF;
}

.center_section{
    text-align: center;
}

.anchor_bg{
    border-radius: 4px;
}

.border-button {
    box-shadow: 0px 0px 0px 5px #304D96;
    transition: box-shadow 0.3s linear;
  }
  
  .border-button:hover { box-shadow: 0px 0px 0px 10px #304D96; background-color: #304D96;}

  .disabled_bg{background-color: #304D96;}